.day {
    width: 14.28%;
    background:  #77dd66;
    border: 1px solid white;
}

.weekend {
    background: #fff666;
}

.offset {
    background: #aaa;
}

.calendar-container {
    width: 100%;
}

.month-title {
    border-bottom: 1px solid black;
}

.month-container {
    margin: 20px;
    border: 1px solid black;
    border-radius: 2px
}

.full-screen {
    width: 100%;
}

form {
    margin: 20px 0;
}